In [1]:
import pandas as pd
import os

In [2]:
#Reading the data into two files depending on what year it's from
annual_merged_data = {
    '2011-2012': pd.read_csv('../data/raw/2011-2012_cognitive.csv'), 
    '2013-2014': pd.read_csv('../data/raw/2013-2014_cognitive.csv')
}
annual_merged_data

{'2011-2012':          SEQN  CFASTAT  CFALANG  CFDCCS  CFDCRNC  CFDCST1  CFDCST2  CFDCST3  \
 0     62174.0      1.0      1.0     1.0      NaN      3.0      6.0      7.0
 1     62178.0      1.0      1.0     1.0      NaN      3.0      5.0      5.0
 2     62191.0      1.0      1.0     1.0      NaN      4.0      5.0      7.0
 3     62209.0      1.0      2.0     1.0      NaN      3.0      3.0      5.0
 4     62215.0      1.0      1.0     1.0      NaN      5.0      8.0      8.0
 ...       ...      ...      ...     ...      ...      ...      ...      ...
 1682  71898.0      1.0      1.0     1.0      NaN      6.0      8.0     10.0
 1683  71902.0      2.0      1.0     1.0      NaN      5.0      8.0      9.0
 1684  71907.0      1.0      1.0     1.0      NaN      4.0      6.0      7.0
 1685  71908.0      1.0      1.0     1.0      NaN      6.0      7.0      8.0
 1686  71915.0      1.0      1.0     1.0      NaN      6.0      7.0     10.0

       CFDCSR       CFDCIT1       CFDCIT2       CFDCIT3        CFDCIR  CFDAPP  \
 0        5.0  5.397605e-79  5.397605e-79  5.397605e-79  1.000000e+00     1.0
 1        3.0  5.397605e-79  5.397605e-79  5.397605e-79  1.000000e+00     1.0
 2        5.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 3        3.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 4        7.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 ...      ...           ...           ...           ...           ...     ...
 1682     7.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1683     7.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1684     6.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1685     8.0  1.000000e+00  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1686     8.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0

       CFDARNC  CFDAST  CFDDPP  CFDDRNC  CFDDS
 0         NaN    18.0     1.0      NaN   33.0
 1         NaN    12.0     1.0      NaN   38.0
 2         NaN    17.0     1.0      NaN   26.0
 3         NaN    15.0     2.0      NaN    NaN
 4         NaN    15.0     1.0      NaN   47.0
 ...       ...     ...     ...      ...    ...
 1682      NaN    21.0     1.0      NaN   65.0
 1683      NaN    22.0     3.0      5.0    NaN
 1684      NaN    16.0     1.0      NaN   58.0
 1685      NaN    28.0     1.0      NaN   62.0
 1686      NaN    34.0     1.0      NaN   66.0

 [1687 rows x 19 columns],
 '2013-2014':          SEQN  CFASTAT  CFALANG  CFDCCS  CFDCRNC  CFDCST1  CFDCST2  CFDCST3  \
 0     73557.0      1.0      1.0     1.0      NaN      4.0      7.0      9.0
 1     73559.0      1.0      1.0     1.0      NaN      4.0      8.0      7.0
 2     73561.0      1.0      1.0     1.0      NaN      6.0     10.0     10.0
 3     73564.0      1.0      1.0     1.0      NaN      5.0      6.0      6.0
 4     73567.0      1.0      1.0     1.0      NaN      6.0      9.0     10.0
 ...       ...      ...      ...     ...      ...      ...      ...      ...
 1780  83712.0      1.0      1.0     1.0      NaN      8.0      8.0      9.0
 1781  83717.0      1.0      2.0     1.0      NaN      1.0      6.0      9.0
 1782  83718.0      1.0      1.0     1.0      NaN      5.0      7.0      8.0
 1783  83723.0      1.0      1.0     1.0      NaN      3.0      4.0      5.0
 1784  83724.0      1.0      1.0     1.0      NaN      3.0      6.0      6.0

       CFDCSR       CFDCIT1       CFDCIT2       CFDCIT3        CFDCIR  CFDAPP  \
 0        7.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1        6.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 2       10.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 3        7.0  5.397605e-79  5.397605e-79  5.397605e-79  1.000000e+00     1.0
 4       10.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 ...      ...           ...           ...           ...           ...     ...
 1780     9.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1781     6.0  1.000000e+00  1.000000e+00  5.397605e-79  5.397605e-79     1.0
 1782     5.0  5.397605e-79  5.397605e-79  5.397605e-79  1.000000e+00     1.0
 1783     3.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79     1.0
 1784     5.0  5.397605e-79  1.000000e+00  1.000000e+00  5.397605e-79     1.0

       CFDARNC  CFDAST  CFDDPP  CFDDRNC  CFDDS
 0         NaN    16.0     1.0      NaN   54.0
 1         NaN    13.0     1.0      NaN   63.0
 2         NaN    19.0     1.0      NaN   59.0
 3         NaN    20.0     1.0      NaN   79.0
 4         NaN    15.0     1.0      NaN   30.0
 ...       ...     ...     ...      ...    ...
 1780      NaN    16.0     1.0      NaN   55.0
 1781      NaN    12.0     2.0      NaN    NaN
 1782      NaN    23.0     1.0      NaN   55.0
 1783      NaN     8.0     1.0      NaN   44.0
 1784      NaN    14.0     1.0      NaN   42.0

 [1785 rows x 19 columns]}

In [3]:
if 'processed' not in os.listdir('../data/'):
    os.mkdir('../data/processed')

In [4]:
#Iterates through each file in raw data folder
for file in os.listdir('../data/raw/'):
    #Gets the year from each file by using the split function and indexing to position 0 in the list
    year = file.split('_')[0]
    #Gets data header from the file by indexing to position 1 in the list
    questionnaire = file.split('_')[1]
    #First part is checking if the year of the file is either 2011-2012 or 2013-2014
    #Second part is making sure that the file is not cognitive.csv, because this is what our model is trying to predict
    if year not in annual_merged_data or questionnaire == 'cognitive.csv':
        #It will move onto the next file by going through the for loop again
        continue
    #Reading file into variable
    data_snippet_df = pd.read_csv(f'../data/raw/{file}')
    #Adding the file to it's respective year Key in the dictionary. It's making each file name a column. Combining all csv data
    annual_merged_data[year] = annual_merged_data[year].merge(data_snippet_df, how = 'left', on = 'SEQN')
#Summary: Goes through all files in raw data folder, it updates the data frame columms in the dictionary by participant number for both 2011-2012 and 2013-2014 tables. It adds all data, not just cognitive questionnaire data.
#Combines all data

In [5]:
#Organizes data into a table. Puts all column headers in one line
merged_nhanes_df = pd.concat(annual_merged_data.values(), axis=0)
merged_nhanes_df

,SEQN,CFASTAT,CFALANG,CFDCCS,CFDCRNC,CFDCST1,CFDCST2,CFDCST3,CFDCSR,CFDCIT1,...,FSD650ZC,FSD660ZC,FSD675,FSD680,FSD670ZC,FSQ690,FSQ695,FSD650ZW,FSD660ZW,FSD670ZW
0,62174.0,1.0,1.0,1.0,NaN,3.0,6.0,7.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62174.0,1.0,1.0,1.0,NaN,3.0,6.0,7.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62174.0,1.0,1.0,1.0,NaN,3.0,6.0,7.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62174.0,1.0,1.0,1.0,NaN,3.0,6.0,7.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62174.0,1.0,1.0,1.0,NaN,3.0,6.0,7.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7562,83724.0,1.0,1.0,1.0,NaN,3.0,6.0,6.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7563,83724.0,1.0,1.0,1.0,NaN,3.0,6.0,6.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7564,83724.0,1.0,1.0,1.0,NaN,3.0,6.0,6.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7565,83724.0,1.0,1.0,1.0,NaN,3.0,6.0,6.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7566,83724.0,1.0,1.0,1.0,NaN,3.0,6.0,6.0,5.0,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Cleaning up the data to disclude empty values and people who didn't fully complete the cognitive tests
merged_nhanes_df = merged_nhanes_df[merged_nhanes_df['CFDCCS'] == 1] #CERAD Completion Status (Gets rid of ppl who didn't complete all 4 recalls)
merged_nhanes_df = merged_nhanes_df[merged_nhanes_df['CFDCST1'].notna()] #CERAD Score Trial 1
merged_nhanes_df = merged_nhanes_df[merged_nhanes_df['CFDCSR'].notna()] #CERAD Score Delayed Recall
merged_nhanes_df = merged_nhanes_df[merged_nhanes_df['CFDDS'].notna()]  #Digit Symbol Score
merged_nhanes_df = merged_nhanes_df[merged_nhanes_df['CFDAST'].notna()] #Animal Fluency Score Total

In [7]:
#Proportion missing: number of empty data cells and dividing by number of people (rows)
prop_missing = merged_nhanes_df.isnull().sum() / len(merged_nhanes_df)
#Updating dataframe so it only includes columns with proportion missing less than 0.1 - Cleaning it up
merged_nhanes_df = merged_nhanes_df[merged_nhanes_df.columns[(prop_missing < 0.1)]]

In [8]:
#Converting to a csv after all cleaned up
merged_nhanes_df.to_csv('../data/processed/merged_nhanes.csv', index=False)